*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:#fff;
    font-size: 13px;
}
p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display', serif;
}
img{
    object-fit: fill;
    box-shadow: -8px 6px 24px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition: ease 0.9s;
}
img:hover{
    transform:scale(1.1);
  }
  button{
    background: none;
    border:1px solid #fff;
    color:#fff;
    padding:10px 20px;
    letter-spacing: 2px;
    transition: ease 0.9s;

}
button:hover{
    background-color: #fff;
    color:#000;
    border:1px solid #000
}


/* --------------main page------- */
.main{
    height: 80vh;
    background: url(images/main-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10%;
}
h1{
    font-size: 35px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}
.title{
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 3px;

}
/* -------------about me------------- */
.about-me{
    display: flex;
    flex-direction: column;
    padding:10% 15%;
    justify-content: space-between;
    gap:30px;
    position: relative;
    align-items: center;
    color:#000;
}
.my-img{
    height:300px;
    width:230px;
    object-fit: cover !important;
}
.text{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.text p{
    text-align: center;
    max-width: 500px;
}


 
/* -----------------------Skill section----------------------------------- */
.skills{
    background-image: url(images/pencil-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:10% 15%;
}
.education, .skill{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education{
    margin-bottom: 20px;
}
h3{
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
span{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color:#fff;
    padding-bottom: 10px;

}
.sub-text-one{
    margin-bottom: 20px;
}
.sub-text-one, .sub-text-second, .sub-text{
    font-size: 13px;
    text-align: center;
    color:#DFDFDE;
    max-width: 500px;
    min-width: 280px;
}
/* ----------------------featured section--------------- */
.featured{
    color:#000;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 10% 15%;
}
.featured p{
   text-align: center;
}
h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.featured-images, .featured-images div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
h5{
    font-size: 15px;
    margin-bottom: 5px;
}
.featured-images h5, .featured-images p{
    text-align: center;
}
.website-img{
    height:150px;
    width:250px;
    object-fit: fill;
    margin-bottom: 10px;
}
hr{
    margin:20px auto;
    width:80%;
}
/* ----------------contact me -------------- */
.contact-me{
    padding:50px 15%;
    background-image: url(images/main-background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me h6{
   font-size: 16px;
   text-align: center;
   margin-bottom: 10px;
}
.contact-me p{
    text-align: center;
   margin-bottom: 20px;
}

@media (min-width:750px){
    p{
        font-size: 15px !important;
    }
   .main{
    align-items: flex-start;
    padding:15%;
   }
   h1{
    font-size: 70px;
   }
   /* ----------------- */
   .about-me{
    flex-direction: row;
   }
   .my-img{
    height:350px;
    width:250px;
   }
   .text{
    align-items: flex-start;
   }
   .text p{
    text-align: left;
   }
   /* --------------------- */
   .skills{
    align-items: flex-start;
    padding-left: 50%;
    height: 100%;
   }
   .education, .skill{
    align-items: flex-start;
   }
   .sub-text, .sub-text-one, .sub-text-second{
    text-align: left;
   }
   span{
    font-size: 16px;
   }
   /* ---------------------------- */
   .featured{
    flex-direction: row;
    gap:13%
   }
   .featured p{
    text-align: left;
 }
 h4{
    text-align: left;
    font-size: 30px;
 }
 .featured-images, .featured-images div{
    align-items: flex-start;
} 
h5{
    font-size: 20px;
    margin-bottom: 5px;
}
.website-img{
    height:200px;
    width:350px;
    object-fit: fill;
    margin-bottom: 20px;
}
hr{
    margin:40px 0;
    width:100%;
}
.contact-me{
    padding:50px 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-me h6{
   font-size: 25px;
   text-align: left;
   margin-bottom: 15px;
}
.contact-me p{
    text-align: left;
   margin-bottom:10px;
}



}
